.tooltiptext-right::after {
  content: " ";
  position: absolute;
  top: 45%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -6px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent rgb(59 130 246) transparent transparent;
}
.tooltiptext-left::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the left of the tooltip */
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(59 130 246);
}

