<h2 class="pb-3 font-bold sm:text-base lg:text-2xl">Категории товаров > <span class="text-base">{{categoryName}}</span></h2>

<!-- Отображаем товары, если они загружены -->
 <ul class="grid grid-cols-1 gap-2">
  <!-- @for() { -->
    <li class="flex rounded-xl shadow-md bg-gray-100">
      <div>
        
          <img [src]="" alt="" class="w-40 h-40 m-1">
          <!-- <p>Нет изображений</p> -->
      </div>
      <div>
        <p><strong>Артикул:</strong></p>
        <p><strong>Описание:</strong></p>
      </div>
      <p><strong>Цена в рублях</strong></p>
      <!-- <p>{{product.name}}</p> -->
    </li>
  <!-- } -->
 </ul>
  

