@if(catalogProductList) {
    <div class="wrapper flex flex-col gap-3">
  @for(test of catalogProductList; track $index) {
    <div class="test grid grid-cols-[15%_70%_15%] rounded-lg bg-white p-3 shadow-md h-48 dark:bg-main-surface-300">
      <img src="{{test.ImagePath}}" alt="" class="m-auto dark:rounded-md">
      <div class="flex flex-col justify-between">
        <a routerLink=""  class="">{{test.Description}}</a>
        <p>Имеется в наличии в {{test.Availability | decline}}</p>
      </div>
      <div class="flex flex-col items-end gap-2">
        <p class="mr-2 font-semibold text-xl">
          {{test.PriceBreaks[0].Price}}
        </p>
        <div class="flex gap-2">
          <button (click)="addToFavorites(test)" 
          class="h-14 w-14 flex items-center justify-center bg-gray-200 rounded-xl hover:text-red-400 focus:text-red-700 dark:bg-gray-700">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
          </svg>
          </button>
          <button class="border h-14 w-24 rounded-xl hover:bg-blue-500 hover:text-white hover:border-blue-700 dark:border-gray-700">
            Купить
          </button>
        </div>
      </div>
    </div>
  }
</div>

}
@if(productList) {
  <input type="text">
  @for(product of productList; track $index) {
    <h1>{{product.Description}}</h1>
    <!-- <p>{{product.Category}}</p> -->
    <img src="{{product.ImagePath}}" alt="">
    <button (click)="addToFavorites(product)">Add to Favorites</button>
  }
}


