<div
  class="border rounded-md bg-blue-200 shadow-md"
  [ngClass]="{ 'dark:bg-green-200': isDark, 'notDark': !isDark }"
>
  <div class="flex justify-between">
    <h1 class="p-3">История поисков</h1>
    <button class="p-3 bg-green-200" (click)="togglePanel()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6 transition-all duration-500"
        [ngClass]="{ 'rotate-90': isOpen, 'rotate-0': !isOpen }"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m8.25 4.5 7.5 7.5-7.5 7.5"
        />
      </svg>
    </button>
  </div>
  @if(isOpen) {
  <p class="">History</p>
  }
</div>
<button (click)="darkTheme()">
  Switch to {{isDark ? 'light' : 'dark'}} mode
</button>

