<p class="text-center">Приложение предоставляет более 8 миллионов товаров от разных производителей и разного назначения!</p>
<p>Наше приложение сотрудничает с более 800 производителями</p>
<p>Это лишь малая часть производителей:</p>

 <div class="card">
    <p-carousel 
        [value]="logos" 
        [numVisible]="4" 
        [numScroll]="2" 
        [circular]="true" 
        [responsiveOptions]="responsiveOptions">
            <ng-template let-img pTemplate="item">
                <div class="flex justify-center">
                    <div class="">
                        <div class="h-52 flex items-center">
                            <img 
                                [src]="img.Link" 
                                class="w-40 border-round" />
                        </div>
                    </div>
                </div>
            </ng-template>
    </p-carousel>
</div>


<!-- @for(img of imgs; track $index) { -->
  <!-- <img src="{{img.src}}" alt=""> -->
<!-- } -->






<!-- @for(product of productData; track $index) {
  <h1>{{product.MouserPartNumber}}</h1>
  <img src="{{product.ImagePath}}" alt="">
  <p>{{product.Description}}</p>
} -->


    


