/* .content {
  height: calc(100vh - 8rem - 26px);
  width: 1620px;
} */
:host ::ng-deep .p-carousel {
  /* width: 1000px; */
  height: 200px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
:host ::ng-deep .p-carousel-prev:hover, :host ::ng-deep .p-carousel-next:hover {
  background-color: #007ad9;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
