<main class="sm:text-xs md:text-base lg:text-xl 2xl:text-xl">
<div class="wrapper flex gap-24 sm:gap-3 lg:gap-12 xl:gap-24">
    <div class="sm:w-11/12 sm:gap-2 md: 2xl:w-3/5 lg:w-3/5 flex flex-col lg:gap-6">
        <p class="sm:text-xs md:text-base lg:text-xl 2xl:text-lg">Наше приложение является новым на рынке электроники, но насчитывает уже более 8 миллионов товаров и 800 различных дистрибьюторов. Мы поставляем электронные компоненты, радиодетали, комплектующее для бытовой электроники и многое другое

    </p>
    <p class="sm:text-xs md:text-base lg:text-lg 2xl:text-lg">
        Обширный, регулярно пополняемый, каталог включает в себя огромное количество товаров. От транзисторов и диодов, до сложных микросхем разработки.
    </p>
    <p class="sm:text-xs md:text-base lg:text-lg 2xl:text-lg">
        Начните использовать наше приложение прямо сейчас! Просто воспользуйтесь поиском и найдите нужные для вас товары.
    </p>
    </div>
    <img src="background/Home-Background.png" alt="Electronic components image" class="sm:w-2/5 md: lg:w-80">
</div>

<h2 class="sm:text-base md:text-lg font-semibold lg:text-2xl">Дистрибуция</h2>
<ul class="flex gap-10 items-center justify-center mt-5">
    @for(logo of logos; track $index) {
        <li class="bg-white rounded-lg w-36 h-40 flex items-center justify-center">
            <img [src]="logo.Link" alt="" class="w-28">
        </li>
    }
</ul>
</main>
