<nav class="sticky top-32">
  <div class="container flex flex-col gap-3 p-3 sm:w-32 sm:text-center sm:text-xs md:w-44 md:text-base lg:text-left xl:text-lg">
    <a
      routerLink="/home"
      class="p-3 rounded-md bg-blue-200 shadow-md dark:bg-main-surface-400 dark:text-white hover:text-white hover:bg-blue-500 dark:hover:bg-blue-500"
      >Главная</a
    >
    <a
      routerLink="/catalog"
      class="p-3 rounded-md bg-blue-200 shadow-md dark:bg-main-surface-400 dark:text-white hover:text-white hover:bg-blue-500 dark:hover:bg-blue-500"
      >Каталог</a
    >
    <a
      routerLink="/vendors"
      class="p-3 rounded-md bg-blue-200 shadow-md dark:bg-main-surface-400 dark:text-white hover:text-white hover:bg-blue-500 dark:hover:bg-blue-500"
      >Вендоры</a
    >
  </div>
</nav>

<!-- <app-filters></app-filters> -->
<!-- <a
    class="p-3 rounded-md bg-blue-200 shadow-md dark:bg-main-surface-400 dark:text-white"
    >Категории</a
  > -->
<!-- <app-history></app-history> -->
