/* Поворот на 180 градусов при открытой панели */
.rotate-180 {
  transform: rotate(180deg);
}

/* Поворот на 0 градусов при закрытой панели */
.rotate-0 {
  transform: rotate(0deg);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* li {
  border-bottom: 1px solid #eee;
}

li:last-child {
  border-bottom: none;
} */

/* .popup { */
  /* top: 76px;  */
  /* 4.75 rem */

  /* left: 74px; */
  /* 4.625 rem */
/* } */

.tooltiptext-top::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(59 130 246) transparent;
}