<!-- @defer () { -->
<h2 class="pb-3 font-bold sm:text-base lg:text-2xl">Категории товаров</h2>
<div class="flex items-center">
  <ul class="grid grid-cols-9 w-full sm:grid-cols-1 sm:gap-2 lg:grid-cols-5 lg:gap-6 lg:w-fit xl:grid-cols-6 2xl:grid-cols-7 2xl:gap-5">
    @for(category of catArr; track category) {
    <li
      class="text-sm flex items-center shadow rounded-lg bg-white box-border cursor-pointer hover:bg-gray-100 hover:shadow-lg dark:bg-main-surface-500 dark:text-white dark:hover:bg-main-surface-600 sm:h-10 sm:flex-row sm:justify-start sm:gap-2 sm:p-2 md:text-base lg:flex-col lg:justify-center lg:h-40 xl:h-44 "
      
      (click)="selectCategory(category.Id)"
    >
    <!-- lg:w-36 lg:h-40 xl:w-40 xl:h-44 xl:p-1 2xl:w-44 -->
      @if(category.CategoryIconLink) {
      <img
        [src]="category.CategoryIconLink"
        alt="Category icon"
        class="sm:w-8 lg:w-10 xl:w-12"
      />
      }
      <h3 class="p-1 text-center sm:text-xs sm:p-0 lg:text-sm xl:text-base">
        {{ category.Name }}
      </h3>
    </li>
    }
  </ul>
</div>
<!-- } @placeholder (minimum 2500ms){
<p-progressSpinner
  ariaLabel="loading"
  class="flex items-center justify-center text-blue-500"
  [style]="{ textColor: 'tomato' }"
  />
} -->
