<nav class="top-32">
  <div class="container flex flex-col gap-3 p-3 sm:w-36 sm:text-center sm:text-xs md:w-44 md:text-base lg:text-left lg:w-56 xl:text-lg">
    <a
      routerLink="/home" 
      routerLinkActive="bg-blue-400 dark:bg-main-surface-500"
      class="p-3 rounded-xl bg-blue-200 shadow-md dark:bg-main-surface-400 dark:text-white hover:text-white hover:bg-blue-500 dark:hover:bg-blue-500">
      Главная
    </a>
      <a 
      routerLink="/catalog"
      routerLinkActive="bg-blue-400 dark:bg-main-surface-500"
      class="p-3 rounded-xl bg-blue-200 shadow-md dark:bg-main-surface-400 dark:text-white hover:text-white hover:bg-blue-500 dark:hover:bg-blue-500">
      Каталог
    </a>
      <a 
      routerLink="/manufacturers"
      routerLinkActive="bg-blue-400 dark:bg-main-surface-500"
      class="p-3 rounded-xl bg-blue-200 shadow-md dark:bg-main-surface-400 dark:text-white hover:text-white hover:bg-blue-500 dark:hover:bg-blue-500">
      Производители
    </a>
  </div>
</nav>