  <!-- Кнопка с названием и стрелкой -->
   <div class="rounded-md bg-blue-200 shadow-md">
    <button class="flex w-full gap-2 justify-between items-center p-3 rounded-md bg-blue-200 dark:bg-main-surface-400 dark:text-white hover:text-white hover:bg-blue-500 dark:hover:bg-blue-500" (click)="toggleList()">
    <h2 class="title font-bold">{{childTitle}}</h2>
    <svg [ngClass]="{ 'rotate-180': isExpanded }" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="transition-transform duration-500 size-6">
    <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" />
    </svg>
  </button>

  <!-- Список, который раскрывается при нажатии -->
    <ul
    [class.max-h-0]="!isExpanded"
    [class.max-h-fit]="isExpanded"
    [class.opacity-0]="!isExpanded"
    [class.opacity-100]="isExpanded"
    [style.border-top]="isExpanded ? '1px solid black' : 'none'"
    class="overflow-hidden transition-all duration-500 ease-out"> 
    <button class="bg-blue-500 text-white p-2 rounded mt-2" (click)="submitSelectedCategories()">Применить</button>
      @for(category of catalCategories; track $index) {
        <li>
          
        <div
        class="flex justify-between items-center p-2 pl-8"
        >
        <input
            type="checkbox"
            [checked]="category.isSelected"
            (change)="onCategorySelectionChange(category)"
          />
          
        <span class="text-sm w-56">{{ category.name }}</span>
        @if(category.children && category.children.length > 0) {
          <svg
          [ngClass]="{ 'rotate-180': category.isExpanded }"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="transition-transform duration-500 size-8 mr-6 hover:bg-blue-500 rounded-full p-1 cursor-pointer"
          (click)="toggleCategory(category)"
        >
          <path
            fill-rule="evenodd"
            d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z"
            clip-rule="evenodd"
          />
        </svg>
        }
      </div>
      @if(category.isExpanded && category.children) {
        <ul>
          @for(subcategory of category.children; track $index) {
          <li class="pl-12">
            <p class="flex p-2 text-sm justify-between items-center">
            

              {{subcategory.name}}
              <svg
                  [ngClass]="{ 'rotate-180': subcategory.isExpanded }"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="transition-transform duration-500 size-8 mr-12 hover:bg-blue-500 rounded-full p-1 cursor-pointer"
                  (click)="toggleCategory(subcategory)"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z"
                    clip-rule="evenodd"
                  />
                </svg>
            </p>
            @if(subcategory.isExpanded && subcategory.children) {
              <ul>
                @for(subSubcategory of subcategory.children; track $index) {
                  <li>
                    <button class="text-sm p-2 pl-6">{{subSubcategory.name}}</button>
                  </li>
                }
              </ul>
            }
          </li>
        }
        </ul>
      }
    }
  </ul>
</div>
  